body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #black;
  background-color: #ffffff;
  background-image: url("background-2.png");
  background-repeat: repeat;
  background-position: top center;
}

.top {  max-widtx;
  margin: 0 auto;
  padding: 0 16px;
  background-repeat: no-repeat;
  background-position: left;
  color: #000080;
  max-width: 2000px;
  ;
}

.page-top {
  background-color: #C0C0C0;
  padding: 0px 0px 80px 0px;
}
.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
  vertical-align: top;

}
.text  {
 width:  100%; /* Ширина таблицы */
 border-spacing: 0; /* Расстояние между ячейками */
}
.text td {
 width: 30%; /* Ширина ячеек */
 vertical-align: top; /* Выравнивание по верхнему краю */
}
.midcol {
  text-align: center;
  padding-top: 100px;
}
.rightcol { /* Правая ячейка */
 text-align: right; /* Выравнивание по правому краю */
 padding-top: 100px;
}
.russia {
  text-align: left;
  margin-top: 0px;
  margin-left: 50px;
  background-image: url("russia.sv");
  background-repeat: no-repeat;
}

.page-header {
  margin: 0 0 0px;
  padding: 0px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  color: #EC2D01;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
.back-page{
  font-size: 40px;
  font-weight: 500;
}
.header-email {
  padding-left: 30px;
  background-image: url("icon-email.svg");
  background-repeat: no-repeat;
  background-position: left;
  text-align: justify;
  font-size: 18px;
}

.header-phone {
  padding-left: 30px;
  background-image: url("icon-phone.svg");
  background-position: left;
  background-repeat: no-repeat;
  font-size: 18px;
}

.hero-image {
  margin-bottom: 0px;
  background-image: url("city.jp");
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 250px;
  text-decoration: none;
  ;

}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 40px;
  font-size: 80px;
  line-height: 96px;
}
.about {
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  padding-right: 00px;
  margin-bottom: 200px;
  text-decoration: none;
  color: #EC2D01;
}
a{
  text-decoration: none;
  color: #EC2D01;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
  padding-top: 10px
}
h1 {
  text-align: center;
}

.subheading {
  margin: 0 0 56px;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("icon-html.svg");
}

.skill-css {
  background-image: url("icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #080208;
  border: 1px solid #712073;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #fea18d;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #712073;
  color: #ffffff;
}

.page-footer {
  padding: 40px 0;
  background-color: #FFDEAD;

}

.page-footer a {
  margin-left: 56px;
  color: #000080;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
.bot {
  font-size: 10px;
  line-height: 10px;
  padding-top: 20px;
}

.footer-email {
  padding-left: 30px;
  background-image: url("icon-email.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("icon-phone.svg");
}
