body {
  margin: 0;

  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;

  line-height: 2em;
  color: #black;
  width: 100%;
  min-width: 1200px

}
@media only screen and (max-width: 600px) {
  .flex {

    font-size: 12px;
    margin-bottom: 0px;
  }
  .header_1 {
    width: 100;
  }
  .header_rus {

    width: 100px;
    padding-left: 20px;
  }
  .header_2 {
    padding-top: 25px;
  }
  .intro {
    margin-left:10%;
  }
  .header_4 {
    padding-top: 60px;
  }
  .header_5 {
    padding-top: 60px;
  }
  .header_6 {
    padding-top: 60px;
  }
  .heading {
    font-size: 60px;
  }
    body {


      width: 300px
    }
    .contacts_flex {

    flex:row;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .flex {

      font-size: 12px;
      margin-bottom: 0px;
    }
    .header_1 {
      width: 100;
    }
    .header_rus {

      width: 100px;
      padding-left: 20px;
    }
    .header_2 {
      padding-top: 25px;
    }
    .intro {
      margin-left:10%;
    }
    .header_4 {
      padding-top: 60px;
    }
    .header_5 {
      padding-top: 60px;
    }
    .header_6 {
      padding-top: 60px;
    }

    body { max-width: 800px;
    }
    .heading {
      font-size: 60px;
    }
    .contacts_flex {

    flex:row;
    }
}

.flex {
  display: flex;
  justify-content:;
  background-color: #636360;
  background-size: 100%;
  font-family: BrusDi;
  color: #fff;


}
.header_1 {
  flex-basis: 8%;
  margin-bottom: 5em;
  width: 9em;
  padding-left: 1em;
}
.header_2 {
flex-basis: 15%;

font-size: 3em;
padding: 0.5em;
text-align:left;
font-weight: 1;
}
.header_3  {
  flex-basis: 10%;


}
.header_4 {
flex-basis: 15%;

padding-top: 1em ;
font-size: 2.5em;
text-align: center;

}
.header_5 {
flex-basis: 25%;

padding-top: 1em ;
font-size: 2.5em;
text-align: center;
}
.header_6 {
  flex-basis: 15%;

  padding-top: 1em ;
  font-size: 2.5em;
  text-align: center;
}

/* Page 1 */
.background_page {
  background-image: url("header-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top:
}

.top {
  max-width: 100%;
}
.heading {
  font-size: 90px;
  padding-top: 180px;
  margin-left: 0px;
  color: white;
  font-weight: 600;
  text-align: center;
}
.border-heading {
content: "";
margin-left: 43%;
margin-top: 3%;
bottom: 0;
width: 300px;
height: 4px;
background-color: #ffce55;
left: 50%;

}
.heading_text{
  font-size: 29px;
  margin-top: 80px;
  margin-left: 70px;
  padding-bottom: 300px;
  color: white;
}
.p1{
  padding-top: 30px;
  text-align: center;

}

.intro {
  font-size: 22px;
  text-align: justify ;

  background-color: #f0f3f6;
  padding-bottom: 500px;
  margin-left: auto;
  margin-right: auto;
}
.intro_start {
width: 800px;
text-align: justify;
padding-left: 30%
}
.intro_start_2 {
  padding-top: 20px;
  margin-left: 10%;
  margin-right: 20%;
}
.bg {
  content: "";
  background-color: #f0f3f6;
  margin-top: 0px;
  padding: 100px 0px 100px;
}
.advantages_bg {

  padding: 100px 0px 100px;

  padding-left: 15%
}

.advantages {
  box-sizing: border-box;
  float: left;
  padding: 0 22px;
  width: 33.33%;
  padding-top: 50px;

}
.num {
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #ffce55;
  font-size: 44px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto 15px;
  width: 80px;
}
.num_1 {
  padding-left: 30px
}
.num_2 {
  padding-left: 30px
}
.num_3 {
  padding-left: 30px
}
.num_4 {
  padding-left: 25px
}
.num_5 {
  padding-left: 28px
}
.num_6 {
  padding-left: 28px
}
.description {
width: 320px;
font-size: 0.8em;
line-height: normal;
padding-left: 1px;
text-align: center;
margin-left: auto;
margin-right: auto;
}
a {
  color: white;
  text-decoration: none;
}
p {
  font-size: 0.8em;
}
h1 {
  text-align: center;
  padding-left: 2%
}
h3 {
  text-align: center;
  font-size:


}
.intro_end {
}
.activity {

}
.bg_1 {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 900px;
  margin-left: auto;
  margin-right: auto;

}
h4 {
  text-align: center;
  font-size: 1.5em;
}
.activity_flex {
  box-sizing: border-box;
  float: left;
  padding: 0 22px;
  width: 20%;
  padding-top: 50px;
  padding-left: 20%

}
.activity_1_1 {

  text-align: right;

}
.activity_1_2 {
  margin-top: 00px;
  text-align: right;
}
.activity_1_3 {
  margin-top: 00px;
  text-align: right;
}
.activity_2_1 {
  padding-left: 0%;
  text-align: center;

}
.activity_2_2 {
  margin-top: 200px;
}
.activity_2_3 {
  margin-top: 400px;
}
.activity_3_1 {
  padding-left: 0%;
  text-align: left;

}
.activity_3_2 {
  margin-top: 00px;
}
.activity_3_2 {
  margin-top: 00px;
}

/* Page 2 */
.about_background{
  background-image: url("about_us.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.about_header{
  font-size: 40px;
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.about {
  font-size: 22px;
  width: 800px;
  text-align: justify ;
  margin-left: 30%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.about_advantages_bg {
  background-color: #f0f3f6;
  padding-top: 100px;
  padding-bottom: 100px;
}
.border-about {
content: "";
margin-left: 43%;
margin-top: 3%;
margin-bottom: 50px;
width: 300px;
height: 4px;
background-color: #ffce55;
left: 50%;
}

.about_list {
  padding-left: 30%;
  padding-right: 30%;
  margin-left: auto;
  margin-right: auto;
}
.about_promisses_bg {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}


/* Page 3 */

.price_header {
  font-size: 40px;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

.price_text {
  font-size: 25px;;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  text-align: justify;
  width: 800px;
}

.flex a {
  color: #fff;
  text-decoration: none;
}
.price_flex a {
  color: black;
  text-decoration: none;
}

.price_flex {
  display: flex;
  justify-content: space-between;
  line-height: 30em;
  text-align: center;
  align-content: flex-start;
  box-sizing: content-box;
  background-color: #;
  margin-bottom: 100px;
}
.price_1{

  min-width: 20%;
  margin-top: 5%;
margin-left: 10%;
line-height: 2;
font-size: 1.5em;
text-align: center;
background-color: ;
color: black
}
.price_2{
  //border: 3px solid grey;
min-width: 10%;
margin-top: 5%;
line-height: 2;
font-size: 1.5em;
background-color: #;

}
.price_3{
  //border: 3px solid grey;
min-width: 10%;
margin-right: 10%;
margin-top: 5%;
line-height: 2;
font-size: 1.5em;
background-color: #;
}

.price_list {
  font-size: 20px;
  text-align: left;
  text-align: justify;

}
.price_list_bg {
  background-color: #f0f3f6;

  padding-bottom: 100px;
}
.price_list_text {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
  padding-bottom: 100px;
}
.price_list_text_2 {
  padding-left: 20%;
  padding-right: 20%;
    padding-top: 50px;
}
.border-price {
content: "";
margin-left: auto;
margin-right: auto;
margin-top: 3%;
margin-bottom: 50px;
width: 300px;
height: 4px;
background-color: #ffce55;
left: 50%;
}
section {
  margin-bottom: 00px;
  color: black

}
ul {
  text-align: left;
}
#more {
  display: none;
}
#box {
  display: none;
  margin-bottom: 00px;
}
#box2 {
  display: none;
  margin-bottom: 100px;
}
#box3 {
  display: none;
  margin-bottom: 100px;
}
#box4 {
  display: none;
  margin-bottom: 100px;
}

.escort_bg {


}
.escort_flex {
  display: flex;
  justify-content:;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 10px;
  background-color: blue;
  text-align: center;
  width: 60%;
  max-width: 1200px;
  font-size: 1em;
    background-color: #f0f3f6;
}
.escort_flex_top {
  background-color: blue;
}
.escort_flex_1 {
  flex-basis: 50%;
  padding-right: 300px
}
.escort_flex_2 {
  flex-basis: 10%;
  padding-left: 0%;
  text-align: center;
}

.escort_flex_first {
  display: flex;
  justify-content:;
  margin-left: 20%;
  padding-left: 10px;
  text-align: left;
  width: 60%;
  font-size: 1em;
  background-color: #f0f3f6;
  padding-top: 10px;
  padding-bottom: 10px;
}
.escort_flex_second {
  display: flex;
  justify-content:;
  margin-left: 20%;
  padding-left: 10px;
  text-align: left;
  width: 60%;
  font-size: 1em;

  padding-top: 10px;
  padding-bottom: 10px;
}
.price_warranty {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
/* Page 4*/
.contacts_header {
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
  font-size: 40px;
}
.contacts_flex {

  display: flex;
  justify-content: space-between;
}

.contacts_info {
  display: flex;
  flex-basis: 40%;
  margin-left: 100px;
  font-size: 25px;
  line-height: 1.5;


}
.contacts_map {
  display:  flex;
  flex-basis: 60%;
  margin-left: 400px;
  background-image: url("map2.pg");
}

.contacts {
  padding-bottom: 100px
}

/* footer */


.page-footer {
  padding: 10px 0;
  background-color: #bbb;
  text-align: left;
  padding-left: 65%;
  max-height: 200px;
  margin-top: 00px
}

.page-footer a {
  margin-left: 56px;
  color: #fdffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
.bot {
  font-size: 10px;

  padding-left: 55px;
  line-height: 10px;
  padding-top: 10px;
}

.footer-email {
  padding-left: 30px;
  background-image: url("icon-email.svg");
  font-size: 20px;
  margin-right:50px;
}

.footer-phone {

  padding-left: 25px;
  font-size: 20px;
  background-image: url("icon-phone.svg");
}
